#sss{
    background-color: none;
    height: 180px;
    width: 300px;
    text-align: center;
    /* position: absolute;
    top: 100px;
    left: 5%; */
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    font-size: 10px; 
    color: white;
    margin: 50px;
 
}

#this{
    background-color: none;
    height: 180px;
    width: 300px;
    /* position: absolute;
    top: 100px;
    left: 38%; */
    text-align: center;
    display: inline-block;
    padding: 5px;
    vertical-align: top; 
    font-size: 10px; 
    color: white;
    margin: 50px;
   
}

#hima{
    background-color: none;
    height: 320px;
    width: 250px;
    /* position: absolute;
    left: 68%;
    top: 80px; */
    display: inline-block;
    text-align: center;
    padding: 5px;
    vertical-align: top; 
    font-size: 10px; 
    color: white;
    margin: 50px;

}

#works{
    text-align: center;
    margin: 0 auto;
    overflow: auto;
    height: 100vh;
    
}

#para{
    text-align: left;
}

