h1{
    color:white;
    position: relative;
    margin: 0 auto;
    margin-top: 150px;
    width: 500px;
    font-size: 150px;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: 'Sacramento', cursive;
  }

  
  
  .parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
  }

  i{
    color: #FFF;
    position: relative;
    padding: 10px;
    display: block;
  }

  #mark-top{
    position: absolute;
    bottom: 610px;
    right: 10%;
  }

  
  
  #mark-top > a{
    position: relative;
    width: 25px;
    height: 25px;
  }

  #topright{
    position: absolute;
    right: 125px;
    writing-mode: vertical-rl;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    color: #FFF;
    height: 500px;
    position: absolute;
    top: 400px;
    z-index: 3;
  }

  .btn-gradient-simple {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    color: #FFF;
    background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
    transition: .4s;

  }
  
  .btn-gradient-simple:hover {
    background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
  }
  
  #btn_wrapper{
    text-align: center;
    position: relative;
    top: 50px;
  }
  
  #wrapper{
    height: 4000px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  
  #topp{
    color: white;
    text-align: center;
  }

  #back{
    background: url(./images/top.jpg) no-repeat;
    background-size:cover;
    width: 100%;
    height: 4000px;
    background-attachment: fixed;
    margin: 0;
  }
  
  #name{
    color: aliceblue;
    position: relative;
    left: 13%;
    top: 0px;
    width: 500px;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 5px;
  }
  
  #top{
    
    width: 100%;
    height: 700px;
    
  }
  
  .wrapper_about{
    
    background: none;
    width: 100%;
    height: 1100px;
    margin-top: 200px;
    
  }
  
  .wrapper_work{
    background-color: #eeb6b7;
    width: 100%;
    height: 700px;
    padding-top: 10px;
  }
  
  .wrapper_contact{
    background-color: #b6eebe;
    width: 100%;
    height: 600px;
    padding-top: 10px;
  }
  
  #slide  {
   
    animation-name: slide1;
    animation-duration: 4s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.2s; 
    animation-iteration-count: 1; 
    animation-direction: normal; 
    animation-fill-mode: forwards; 
    
  }
  
  @keyframes slide1 {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  .about {
    position: absolute;
    color: white;
    animation-name: about;
    animation-duration: 4s; 
    animation-timing-function: ease-out; 
    animation-delay: 0.2s; 
    animation-iteration-count: 1; 
    animation-direction: normal; 
    animation-fill-mode: forwards; 
    font-family: 'Sacramento', cursive;
    margin: 0;
    z-index: 5;
  }
  
  @keyframes about {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  .works {
  position: absolute;
  color: white;
  animation-name: skill;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-delay: 0.2s; 
  animation-iteration-count: 1; 
  animation-direction: normal; 
  animation-fill-mode: forwards; 
  font-family: 'Sacramento', cursive;
  margin: 0;
  }
  
  @keyframes skill {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  .contact {
  position: absolute;
  color: white;
  animation-name: contact;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-delay: 0.2s; 
  animation-iteration-count: 1; 
  animation-direction: normal; 
  animation-fill-mode: forwards; 
  font-family: 'Sacramento', cursive;
  margin: 0;
  
  }
  
  @keyframes contact {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  
  h3{
    opacity: 1;
    color: white;
    
    margin: 0 auto;
    width: 600px;
    font-size: 150px;
    text-align: justify;
    z-index: 20;
    font-family: 'Sacramento', cursive;
    
  }

  #aboutlogo{
    position: absolute;
    left: 60%;
    top: 0px;
  }

  #workslogo{
    position: absolute;
    top: 400px;
    left: 200px;
  }

  #contactlogo{
    left: 0;
    margin: 0;
  }
  

  #homelink{
    position: relative;
    left: 10%;
    bottom: 350px;
  }
  
  #aboutlink{
  position: relative;
  left:  10%;
  bottom: 280px;
  }
  
  
  #workslink{
    position: relative;
    left: 10%;
    bottom: 210px;
  }
  
  #contactlink{
    position: relative;
    left: 10%;
    bottom: 140px;
  }

  #inline{
    display:block;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
  }

  .parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 400px;
  }

  .img-bg-01{
      background-image: url('./images/about-back.png');
      margin: 0;
  }

  .img-bg-02{
    background-image: url('./images/code.png');
}